*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt
seventh-packet-byte-count.png

\#*#
~*

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

build-dir/
build/
/.cproject
/.project

# macOS #

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Ns3.xcodeproj/

# Sublime
*.sublime-workspace

# CLion
.idea/
cmake-build-debug/
